<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- bootstrap import -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoderFinder</title>
  </head>
  <body style="background-color: #343a40 !important" onLoad="setPlaceholder()">
    {% include "header.html" %}
    <div class="text-center">
      <div class="container">
        <h1 class="cover-heading text-white text-left">Your Favourites</h1>
        <!-- table to display favourites -->
        <table
          class="table table-striped text-white"
          style="margin-top: 10px !important"
          id="jobstable"
        >
          <thead>
            <tr>
              <th scope="col" class="text-white">Company Name</th>
              <th scope="col" class="text-white">Location</th>
              <th scope="col" class="text-white">Job Title</th>
              <th scope="col" class="text-white">Actions</th>
            </tr>
          </thead>
          <!-- populate table with injected jobs list -->
          <tbody>
            {% for job in jobs %}
            <tr>
              <td>{{job.company}}</td>
              <td>{{job.location}}</td>
              <td>{{job.title}}</td>
              <td>
                <button
                  class="btn btn-success"
                  id="{{job.id}}"
                  data-toggle="modal"
                  data-target="#viewFavouriteModal"
                  onClick="{handleView(this)}"
                >
                  View
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p id="placeholder" class="text-white" style="display: none">Add some favourites!</p>
      </div>
    </div>
    {% include "modals.html" %}
    <!-- javascript support for bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <script>
      // set table placeholder if it is empty
      function setPlaceholder() {
        const placeholder = document.getElementById('placeholder');
        const table = document.getElementById('jobstable');

        if (table.rows.length === 1) {
            placeholder.style.display = 'inline';
        } else {
          placeholder.style.display = 'none';
        }

        
      }

      // populate modal with data on button click
      let currFav = 0;
      async function handleView(element) {
        currFav = element.id;

        const res = await fetch(`/favourites/${element.id}`).then((resp) =>
          resp.json()
        );

        document.getElementById('viewFavouriteModalLabel').innerHTML =
          res.company;
        document.getElementById('favcompanyimg').src = res.img;
        document.getElementById('modalfavjobtitle').innerHTML = res.title;
        document.getElementById('modalfavlocation').innerHTML = res.location;
        document.getElementById('modalfavtype').innerHTML = res.jobType;
        document.getElementById('modalfavdescription').innerHTML =
          res.description;
        document.getElementById(
          'favmodalurl'
        ).innerHTML = `Read more <a href="${res.url}">here</a>`;
        document.getElementById('favnotes').value = res.notes;
      }

      // handle updating the notes of a favourite job
      async function handleSave() {
        const res = await fetch(`/update/${currFav}`, {
          method: 'POST',
          body: JSON.stringify({
            notes: document.getElementById('favnotes').value,
          }),
        }).then((resp) => resp.json());
        // display whether the call was successful or not
        window.alert(
          res.message === 'Success!'
            ? 'Saved successfully!'
            : 'An error occurred, please try again!'
        );
      }

      // handle removing a favourite job
      async function handleRemove() {
        const res = await fetch(`/update/${currFav}`, {
          method: 'DELETE',
        }).then((resp) => resp.json());
        // reload the page to update the UI
        location.reload();
      }
    </script>
  </body>
</html>
