<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    {% extends "base.html" %} {% block body %}
    <p class="lead">Your comprehensive guide to software events and jobs</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{task.name}}</td>
          <td>
            <a href="/task/{{task.id}}"
              ><button type="button" class="btn btn-primary">View</button></a
            >
            <button
              type="button"
              data-item-id="{{task.id}}"
              data-toggle="modal"
              data-target="#deleteModal"
              class="btn btn-danger"
              onclick="{setDeleteId(this)}"
            >
              Delete
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "modals.html" %} {% endblock %}

    <!-- Javascript support for bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <script>
      var deleteId = 0;
      function setDeleteId(event) {
        deleteId = event.dataset.itemId;
      }
      function deleteTask(id) {
        fetch('/task/' + id, {
          method: 'DELETE',
        })
          .then(() => window.location.reload())
          .catch((error) => console.log('Something went wrong: ' + error));
      }
    </script>
  </body>
</html>
